services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    network_mode: "host"
    volumes:
      - ..:/workspaces:cached
    # Permet de garder le container Python actif
    command: sleep infinity 

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    network_mode: "host"
    environment:
      - WEBUI_AUTH=False
    volumes:
      - open-webui:/app/backend/data
    restart: always

volumes:
  open-webui: